torch-ema
ninja
trimesh
opencv-python
tensorboardX
torch
numpy 
pandas
tqdm
matplotlib
PyMCubes
rich
dearpygui
scipy
huggingface_hub
# the 2 dependencies below are the main ones needed for dreamfusion
diffusers
transformers
xatlas
scikit-learn
imageio
imageio-ffmpeg
accelerate
tensorboard
